.graphic-types input {
	margin: 0;
	padding: 0;
	position: absolute;
	visibility: hidden;
}
.graphic-types input:active + .thumbnail {
	border: 3px solid #ddd;
}
.graphic-types input:checked + .thumbnail {
	border: 3px solid #999;
}
.graphic-types input:checked ~ label {
	font-weight: bold;
}
.graphic-types .thumbnail {
	margin: 0 5px 0 0;
	cursor: pointer;
	background-size: contain;
	background-repeat: no-repeat;
	display: inline-block;
	width: 100px;
	height: 100px;
}
.graphic-types .thumbnail:hover{
	border: 3px solid #ddd;
}
.graphic-types label {
	vertical-align: middle;
	font-weight: normal;
}
