#results {
	margin-top: 15px;
}
#results div.row {
	border-top: 1px solid #ddd;
	padding: 8px 0;
}
#results div.row:hover {
	background: #f5f5f5;
}
#results .env {
	padding: 5px;
	border: 1px solid #ddd;
	border-radius: 5px;
}


.graphic-types input {
	margin: 0;
	padding: 0;
	position: absolute;
	visibility: hidden;
}
.graphic-types input:active + .thumbnail {
	border: 3px solid #ddd;
}
.graphic-types input:checked + .thumbnail {
	border: 3px solid #999;
	width: 100px;
	height: 100px;
}
.graphic-types input:checked ~ label {
	font-weight: bold;
}
.graphic-types .thumbnail {
	margin: 0 5px 0 0;
	cursor: pointer;
	background-size: contain;
	background-repeat: no-repeat;
	display: inline-block;
	width: 20px;
	height: 20px;
	transition-property: height, width;
	transition-duration: 0.1s;
	transition-timing-function: linear;
}
.graphic-types .thumbnail:hover{
	border: 3px solid #ddd;
}
.graphic-types label {
	vertical-align: middle;
	font-weight: normal;
	margin-bottom: 0;
	cursor: pointer;
}

.label {
	color: #333;
}
.label.pie_chart {
	background: hsla(0, 100%, 90%, 1);
}
.label.line_chart {
	background: hsla(20, 100%, 90%, 1);
}
.label.bubbleplot {
	background: hsla(40, 100%, 90%, 1);
}
.label.scatterplot {
	background: hsla(60, 100%, 90%, 1);
}
.label.column_chart {
	background: hsla(80, 100%, 90%, 1);
}
.label.stacked_column_chart {
	background: hsla(100, 100%, 90%, 1);
}
.label.slopegraph {
	background: hsla(120, 100%, 90%, 1);
}
.label.bar_chart {
	background: hsla(140, 100%, 90%, 1);
}
.label.grouped_bar_chart {
	background: hsla(160, 100%, 90%, 1);
}
.label.stacked_bar_chart {
	background: hsla(180, 100%, 90%, 1);
}
.label.dot_chart {
	background: hsla(200, 100%, 90%, 1);
}
.label.block_histogram {
	background: hsla(220, 100%, 90%, 1);
}
.label.locator_map {
	background: hsla(240, 100%, 90%, 1);
}
.label.state_grid_map {
	background: hsla(260, 100%, 90%, 1);
}
.label.table {
	background: hsla(280, 100%, 90%, 1);
}
.label.graphic {
	background: hsla(0, 0%, 90%, 1);
}
