#results {
	margin-top: 15px;
}
#results div.row {
	border-top: 1px solid #ddd;
	padding: 8px 0;
}
#results div.row:hover {
	background: #f5f5f5;
}
#results .env {
	padding: 5px;
	border: 1px solid #ddd;
	border-radius: 5px;
}


.graphic-types input {
	margin: 0;
	padding: 0;
	position: absolute;
	visibility: hidden;
}
.graphic-types input:active + .thumbnail {
	border: 3px solid #ddd;
}
.graphic-types input:checked + .thumbnail {
	border: 3px solid #999;
}
.graphic-types input:checked ~ label {
	font-weight: bold;
}
.graphic-types .thumbnail {
	margin: 0 5px 0 0;
	cursor: pointer;
	background-size: contain;
	background-repeat: no-repeat;
	display: inline-block;
	width: 100px;
	height: 100px;
}
.graphic-types .thumbnail:hover{
	border: 3px solid #ddd;
}
.graphic-types label {
	vertical-align: middle;
	font-weight: normal;
}
